<!DOCTYPE HMTL>
<html lang="es">
	<head>
        <meta charset="UTF-8">
        <title>Página editar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Descripción que sale en las búsquedas">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="css/editor.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="estilos.css">

        <script type="text/javascript" src="js/jquery-1.12.0.js"></script>
        <script type="text/javascript" src="js/editor.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#txt-content").Editor();
            });   
        </script>
	</head>
    
    <body>
        <header>
        <h1>¡Hola, que tal!</b></h1>
        </header>

        <!-- Barra de navegación -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-light" style="background-color: #e3f2fd;">
             <!-- Opciones del botón menú -->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menú</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Nuevo</a>
                    <a class="dropdown-item" href="#">Abrir</a>
                    <a class="dropdown-item" href="#">Guardar</a>
                    <a class="dropdown-item" href="#">Guardar como =></a>
                    <a class="dropdown-item" href="#">Exportar a PDF</a>
                    <a class="dropdown-item" href="#">Exportar a JSON</a>
                    <a class="dropdown-item" href="#">Exportar a ODT</a>
                    <div class="dropdown-divider">

                    </div>
                    <a class="dropdown-item" href="#">Cerrar sesión</a>
                </div>

            <!-- Botón del menú cuando uno hace muy pequeña la página -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Botones de Inicio y demás -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Opción 1</a>
                            <a class="dropdown-item" href="#">Opción 2</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Insertar</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Opción 1</a>
                            <a class="dropdown-item" href="#">Opción 2</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[Por definir]</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Opción 1</a>
                            <a class="dropdown-item" href="#">Opción 2</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- Secciones de la página -->
        <section>
             <!-- Editor de texto -->
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <form action="" method="post" id="frm-test">
                                <div class="form-group">
                                    <textarea id="txt-content" name="txt-content"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" id="btn-enviar" value="Enviar resultado">
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!-- Costado de la página -->
        <aside>
            <h3">Redes sociales (Universidad)</h3>
        </aside>

           <!-- Parte de abajo / legalidad -->
	    <footer>
            <h4>Correo de contacto: []</h4>
	    	<h4>Copyright - Todos los derechos reservados.</h4>
        </footer>  
    </body>  
</html>