h1,h2,h3,h4,p{
    text-align: center;
    margin: auto;
}
.align-self-end{  
    margin-bottom: auto;
    
}
img.imagenNavbar{
    height: auto;
    width: 150px;
}
#loginContainer, #registerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.main-section{
    margin:0 auto;
    padding: 20px;
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #c1c1c1;
}
.fileinput-remove, .fileinput-upload{
    display: none;
}
#categorias.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}        
#documentos.pre-scrollable {
    max-height: 480px;
    overflow-y: scroll;
}     
#drop_zone {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color: #bbb;
}
#info {
    font-family: monospace;
    font-size: 18px;
}
#list {
    font-size: 15px;
}