<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Cultural-->
    <h1>Título</h1><i>Autor</i><br><i>Fecha</i><hr><p>Parrafo</p><hr>
    <!--cientifico-->
    <h1>Titulo</h1><fn style="font-style: italic;">Autor</fn><hr><h2>introduccion</h2>    <hr><p>parrafo</p><hr><h2>metodos</h2><hr><p>parrafo</p><hr><h2>resultados</h2><hr><p>parrafo</p><hr><h2>discucion</h2><hr><p>parrafo</p><hr>
<!--introduccion, material y metdoso, resultados, discucion-->
    <!--Informativo-->

    <h1>Título</h1><i>Autor</i><br><i>Fecha</i><hr><p>Introduccion Párrafo</p><hr><p>Desarrollo Párrafo</p><hr><p>Conclusion Párrafo</p><hr>
<!--Introduccion, desarrollo, cierre-->
    <!--Instructivo-->
    <h1>Título</h1><i>Autor</i><hr><h3>Índice</h3><P>Párrafo</P><hr><h3>Requerimientos</h3><p>Párrafo</p><hr><h3>Instrucciones</h3><p>Párrafo</p><hr><h3>Normas de uso</h3><p>Párrafo</p><hr>
    <!--Narrativo-->
    <H1>Título</H1><i>Autor</i><hr><p>Introduccion Párrafo</p><br><p>Desarrollo Párrafo</p><br><p>Desenlace Párrafo</p>


<!--Introduccion, desarrollo, desenlace-->   

<!--testeos-->
<br><br><br>
    <h1>titulo</h1>
    <h2>titulo</h2>
    <H3>hache 3 titulo</H3>
    <h3>titulo</h3>
    <h4>titulo</h4>
    <h5>titulo</h5>
    <h6>titulo</h6>
    
</body>
</html>