<!DOCTYPE html>
<html lang="es">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
	<style>
		body {
      		background-color: #181C30;
			color: white
    	}
	</style>
		<div class="warpper" style="width: 700px; margin: auto">
			<form method="post">
				{{ form.csrf_token }}
				{{ form.title.label }}<br>
				{{ form.title }}<br><br>
				{{ form.body.label }}<br>
				{{ ckeditor.create(value= xd) }}
			
				<br>
				{{ form.submit }}
				
			</form>
			{{ ckeditor.load() }}
			{{ ckeditor.config(name='body') }}
		</div>
	</body>
</html>