<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="index_style.css">
    <title>index</title>
    
   
</head>
<body>
    
    <section>
        <header>
            <h1>Como armar un cubo de rubik</h1>
            <h2 id="para1"><em> ~teoría basica~</em></h2>
        </header>
        <p> A mucha gente le da curiosidad el 
        como poder armar correctamente el cubo de Rubik  <br> 
        pero al momento de comprarlo o conseguirse uno
        se les dificulta ya que subestiman la complejidad de este objeto <br>
        por eso, aqui les enseñaremos paso a paso el como armarlo perfectamente <br>
        usando tanto la intuicion como la notacion basica. </p> 
    </section>
    <div class="center">
        <img src="cubo_gif.gif" alt="no disponible" width="240" height="190">
    </div>
    <p>a continuacion vamos a aprender la anotacion basica para así 
        seguir comodamente los algoritmos <br>
        paso a paso. 
    </p>
    <p>para cada cubo de rubik se le agregan diferentes anotaciones <br>
    así que aqui tienes la anotacion para cada tipo de cubo</p>
    <h2><em>anotaciones</em></h2>
    <ul>
        <li> <a href="3x3.html" >cubo rubik 3x3</a></li>
        <li> <a href="4x4.html" >cubo rubik 4x4</a></li>
        <li> <a href="5x5.html" >cubo rubik 5x5</a></li>

    </ul> <br>
    <h2><em>algoritmos de solucion</em></h2>
    <ul>
        <li><a href="3x3_alg.html"  >algoritmos 3x3</a></li>
        <li><a href="4x4_alg.html"  >algoritmos 4x4</a></li>
        <li><a href="5x5_alg.html"  >algoritmos 5x5</a></li>

    </ul>
    <br><br>
    <p id="uwu"> <em>desarrollador de la pagina web:</em> </p>
    <div class="center">
        <table>
            <tr>
                <th rowspan="2">este soy yo :)</th>
                <th>nombre</th>
                <th>foto</th>
                <th>instagram</th>
                <th>youtube</th>
                <th>pais, ciudad</th>
                
                
                <th colspan="2">pasatiempos</th>
                <th>mi voz</th>
            </tr>
            <tr>
                <td>Francisco Javier <br> Fuentealba Peña</td>
                <td><img src="me.jpg" alt="audio no disponible" width="100" height="100"></td>
                <td><a  href="https://www.instagram.com/is_chocloh/?hl=es-la" >sigueme en <br> instagram!!</a></td>
                <td><a  id="sus" href="https://www.youtube.com/channel/UCxSNN9TYZOtykrlveL0o55A?view_as=subscriber" >Suscribete!!</a></td>
                <td>Chile</td>
                <td>jugar videojuegos </td>
                <td>componer musica</td>
                <td> <audio controls>
                    <source src="mivoz.mp3" type="audio/mp3">
                </audio> </td>

            </tr>
        </table>
    </div>  
    <br>
    
        
    <form action="#">
        <fieldset>
            <legend>registrate!!</legend>
            <label for="nombre">Nombre y Apellido: </label>
            <input type="text" id="nombre"  placeholder="ingrese su nombre"/> <br>
            <label for="email">correo electronico:</label>
            <input type="email" id="email"  placeholder="ingrese su correo electronico"/> <br>
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña"  placeholder="ingrese su contraseña"/><br>
            <input type="submit" value="registrar">
        </fieldset>
    </form>  
    
    <footer>muchas gracias por estar en esta pagina web :)</footer>

</body>


</html>