<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Iniciar sesión en la página</title>
    </head>
</head>
<body>
    <div id="loginContainer" class="container">
        <form action="/authenticate",  method="post">
            <img class="mb-4" src="{{url_for('static', filename='logoLeFroge.png')}}" alt="logo_pagina" width="auto" height="110px">
            <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>
            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Usuario" required>
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required>
                <label for="floatingPassword">Contraseña</label>
            </div><br>
            <button class="w-100 btn btn-lg btn-primary" type="submit"><a>Iniciar Sesión</a></button>
            <div class="button">
                <a href="/singup">¿No tienes una cuenta? Registrate aquí</a>
            </div>
        </form>
    </div>
</body>
</html>