<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Página</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Descripción que sale en las búsquedas">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
        
    </head>
    <style>
        h1,h2,h3,h4,p{
            text-align: center;
            margin: auto;
        }
        .align-self-end{  
            margin-bottom: auto;
            
        }
        .carouselSize{
            margin-left: 120px;
            margin-right: 120px;
            margin-bottom: 20px;
            border: 1px solid black;
            
        }
        img{
            height: 600px;
            
        }
        h3.carrusel ,h4.carrusel{
            background-color: rgba(26, 26, 26, 0.7);
            margin: auto;
        }
        img.imagenNavbar{
            height: auto;
            width: 150px;
        }
        /*body{
            color: white;
            background-color: #131516f8;
        }*/
        .main-section{
            margin:0 auto;
            padding: 20px;
            margin-top: 100px;
            background-color: #fff;
            box-shadow: 0px 0px 20px #c1c1c1;
        }
        .fileinput-remove,
        .fileinput-upload{
            display: none;
        }
        #categorias.pre-scrollable {
            max-height: 340px;
            overflow-y: scroll;
        }        
        #documentos.pre-scrollable {
            max-height: 730px;
            overflow-y: scroll;
        }        
    </style>
<body>
    <header class="navbar navbar-expand navbar-dark bg-dark d-flex justify-content-center py-3"><!-- justify-content-center -->
        <div class="container-fluid">
            <img class="imagenNavbar" src="{{url_for('static', filename='logoLeFroge.png')}}" alt="logoLeFroge.png">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="http://127.0.0.1:5000/" class="nav-link" style="color: white;">Inicio</a></li>

                <!-- Si el usuario está logueado, mandar al proyecto, si no está logueado mandar a loguearse -->
                <li class="nav-item"><a href="http://127.0.0.1:5000/proyecto" class="nav-link" style="color: white;">Proyecto</a></li>

                <!-- Si el usario está logueado, mostrar Cerrar Sesión, si no está logueado mostrar Iniciar Sesión -->
                <li class="nav-item"><a href="http://127.0.0.1:5000/login" class="nav-link" style="color: white;">Iniciar Sesión</a></li>
            </ul>
            <img class="imagenNavbar" src="{{url_for('static', filename='logoUniversidad.png')}}" alt="logoUniversidad.png">
        </div>
    </header>
    <div>
        <h1>¡Bienvenido a LeFrogé!</h1>
        <h3>Prueba a subir un archivo para empezar a editarlo.</h3><br>
    </div>
    <!-- Parte de arriba -->
    <section> 
        <div class="container-md">
            <div class="container-fluid">
                <div class="row">
                    <div class="col align-self-start">
                        <!-- <div class="container-fluid">
                            <form class="d-flex d-grid gap-2 mx-auto" action="/sii" method="post">
                                <input class="form-control me-2" type="search" placeholder="Escriba una consulta..." aria-label="Search" name="consulta"/>
                                <button class="btn btn-success" type="submit">Consultar</button>
                            </form>
                        </div> -->
                        <form class="" action="/subir" method="post" enctype="multipart/form-data" target="_blank">
                            <!-- Drag and Drop -->
                            <div class="form-group">
                                <label for="formFile" class="form-label">Seleccione uno o varios archivos</label>
                                <div class="pre-scrollable">
                                    <div class="mb-3 d-grid gap-1 mx-auto file-loading">
                                        <input id="file-1" class="form-control" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2" name="archivosubido">
                                    </div><br>
                                </div>
                                
                                <div class="mb-3 d-grid gap-1 mx-auto">
                                    <button type="submit" class="btn btn-primary">Subir archivo</button>
                                </div>
                                
                            </div> 
                        </form>
                        <label for="exampleFormControlTextarea1" class="form-label">Categorías</label>
                        <!-- <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Categoría_1
                                <span class="badge rounded ">1</span>
                                <span class="d-block small opacity-50">Descripción de la categoría</span></a>
                            <a class="list-group-item" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Categoría_2
                                <span class="badge rounded">2</span>
                                <span class="d-block small opacity-50">Descripción de la categoría</span></a>
                            <a class="list-group-item" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Categoría_3
                                <span class="badge rounded">1</span>
                                <span class="d-block small opacity-50">Descripción de la categoría</span></a>
                        </div> -->
                        <form ansubmit="/coso" method="post">
                            <div id="categorias" class="list-group mx-0 pre-scrollable">
                                <ul class="list-group">
                                    <li class="list-unstyled">
                                        <label class="list-group-item d-flex gap-2">
                                            <span class="badge rounded bg-primary d-flex align-items-center">1</span>    
                                            <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios" id="listGroupRadios1" value="" checked="True">
                                                <span>Todo
                                                    <small class="d-block text-muted">Muestra todos los documentos del usuario que poseen y no poseen categoría.</small>
                                                </span>
                                        </label>
                                    </li>
                                    {% for nameCat in colections.cat %}
                                    <li class="list-unstyled">
                                        <label class="list-group-item d-flex gap-2">
                                            <span class="badge rounded bg-primary d-flex align-items-center">1</span>  
                                            <input class="form-check-input flex-shrink-0" type="radio" name='listGroupRadios' id="listGroupRadios1" value={{x}}> 
                                            <span>{{nameCat}}
                                                <small class="d-block text-muted">Muestra todos los documentos cuya categoría es {{nameCat}}.</small>
                                            </span>
                                        </label>
                                    {% endfor %}
                                    </li>
                                </ul>
                            </div>   
                        </form>
                    </div>                
                    <!-- Documentos que posea el usuario -->
                    <div class="col align-self-end">
                        <label for="exampleFormControlTextarea1" class="form-label">Tus documentos</label>
                        <div id="documentos" class="list-group mx-0 pre-scrollable">
                            <ul class="list-group">
                                
                                    {% for docs in colections.docu %}
                                    <li class="list-unstyled">
                                        <label class="list-group-item d-flex gap-2">
                                            
                                            <input class="form-check-input flex-shrink-0" type="radio" name='listGroupRadios' id="listGroupRadios1" value={{x}}> 
                                            <span>Documento {{docs.nombredoc}}
                                                <small class="d-block text-muted">Muestra todos los documentos cuya categoría es {{docs.nombredoc}}.</small>
                                            </span>
                                        </label>
                                    {% endfor %}
                                
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Carrusel  -->
    <section>
        <h3>¡O puedes crear tu propio archivo!</h3><br>
        <div>
            <a href="#" class="btn btn-primary d-grid gap-2 col-3 mx-auto">Ir al editor</a><br><br>
        </div>
        <h3>También puedes seleccionar distintas plantillas de acuerdo a tus necesidades.</h3><br>
        <div class="carouselSize">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#"><img src="{{url_for('static', filename='foto_1.JPG')}}" class="d-block w-100" alt="foto_1.JPG"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="carrusel">Arquetipo científico</h3>
                            <h4 class="carrusel">Perfecto para la redacción de informes y ensayos.</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img src="{{url_for('static', filename='foto_2.JPG')}}" class="d-block w-100" alt="foto_2.JPG"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="carrusel">Arquetipo informativo</h3>
                            <h4 class="carrusel">Ideal para la redacción de noticias.</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img src="{{url_for('static', filename='foto_3.JPG')}}" class="d-block w-100" alt="foto_3.JPG"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="carrusel">Arquetipo instructivo</h3>
                            <h4 class="carrusel">Pensado para artículos instructivos e informativos.</h4>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </section>
</body>
<!-- Boostrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- XD? -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/js/fileinput.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/themes/fa/theme.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" type="text/javascript"></script>
    
<script>
    $("#file-1").fileinput({
        theme: 'fa',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif', 'pdf', 'json'],
        overwriteInitial: false,
        maxFileSize:2000,
        maxFilesNum: 10,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>
</html>